<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="Server" value="192.168.0.244:30015" />
      <add key="LicenseServer" value="192.168.0.244:40000" />
      <add key="CompanyDB" value="SBO_PRUEBAS" />
      <add key="UserName" value="manager" />
      <add key="Password" value="manager" />
      <add key="DbServerType" value="dst_HANADB" />
      <add key="smtp" value="smtp.gmail.com"/>
      <add key="puerto" value="587"/>
      <add key="correoSmtp" value="contacto@gmail.com" />
      <add key="claveSmtp" value="Natura" />
      <add key="correoDestino" value="andres.ramirez12@gmail.com" />      <!-- si se deja en blanco no realiza ningun envio -->
      <add key="CorreoErrorActualiza" value="NO" />      <!-- NO: envia el correo siempre, SI: envia correo solo en caso de error  -->
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TCRMServicesWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://superfinanciera.gov.co/SuperfinancieraWebServiceTRM/TCRMServicesWebService/TCRMServicesWebService"
                binding="basicHttpBinding" bindingConfiguration="TCRMServicesWebServiceSoapBinding"
                contract="WebServiceTRMReference.TCRMServicesInterface" name="TCRMServicesWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>